html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-weight: 400;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 16px;
  border: none;
  outline: none;
}
.button-primary {
  font-weight: 700;
  background-color: #f53838;
  color: white;
}
.button-outline {
  font-weight: 500;
  background-color: transparent;
  color: #f53838;
  border: 1px solid;
}
.button-rounded {
  border-radius: 10px;
  padding: 17px 65px;
  position: relative;
  box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
}

.heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.4285714286;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text {
  line-height: 1.875;
}

.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
  font-weight: 500;
}
.header-signin {
  color: #0b132a;
}
.header-signup {
  padding: 13px 45px;
  border-radius: 100rem;
  color: #f53838;
  border: 1px solid;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
}

.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero-image {
  position: absolute;
  transform: translateX(40px);
  right: 0;
}
.hero-content {
  width: 100%;
  max-width: 555px;
}
.hero-heading {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #0b132a;
}
.hero-desc {
  line-height: 1.875;
  margin-bottom: 50px;
}
.hero-desc strong {
  font-weight: 500;
}

.intro {
  margin-bottom: 95px;
}
.intro-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
}
.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
}
.intro-item:nth-child(2) {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}
.intro-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1.2;
}
.intro-text {
  font-size: 20px;
  line-height: 1.5;
}

.feature {
  margin-bottom: 130px;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 170px;
}
.feature-desc {
  margin-bottom: 23px;
}
.feature-list {
  list-style: none;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

/*# sourceMappingURL=app.css.map */
