.subcribe {
  z-index: 2;
  margin-bottom: 65px;
  &-wrapper {
    width: 1140px;
    height: 230px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  }
  &-text {
    max-width: 410px;
  }
  //   &-wrapper::after {
  //     content: "";
  //     position: absolute;
  //     width: 1077.17px;
  //     height: 250px;
  //     left: 181.41px;
  //     top: 4525.78px;
  //     background: black;
  //     opacity: 0.06;
  //     filter: blur(114px);
  //     border-radius: 10px;
  //   }
}
